@import "variables";

// Sidebar
.logo {
  max-width: 30px;
  margin: 30px auto;
}

.logo-wrapper {
  text-align: center;
  width: 90%;
}

// GameBoard
.game-board {
  background: $board-background;
  margin: 0 auto;
}

.game-board__row {
  display: flex;
  justify-content: center;
}

.game-board__cell {
  margin: $cell-margin;
  height: $cell-size;
  width: $cell-size;
  &.game-board__cell--dead {
    background: $cell-colour--dead;
  }
  &.game-board__cell--alive-new {
    background: $cell-colour--alive-new;
  }
  &.game-board__cell--alive-old {
    background: $cell-colour--alive-old;
  }
}
