@import "variables";

.App {
  text-align: center;
}

//GameBoard
.game-board {
  background: pink;
  max-width: 720px;
  margin: 0 auto;
}

.game-board__row {
  background: palegreen;
  display: flex;
  justify-content: center;
}

.game-board__cell {
  background: palevioletred;
  margin: $cell-margin;
  height: $cell-size;
  width: $cell-size;
  &.game-board__cell--dead {
    background: $cell-colour--dead;
  }
  &.game-board__cell--alive-new {
    background: $cell-colour--alive-new;
  }
  &.game-board__cell--alive-old {
    background: $cell-colour--alive-old;
  }
}
